<!DOCTYPE html>
<html>

<head>
    <title>[서지원♥최보배] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/bbgaae2ait/web_share.jpg" />
    <meta property="og:title" content="[서지원♥최보배] 결혼식에 초대합니다." />
    <meta property="og:description" content="[서지원♥최보배] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmQvu2JB%2Fi9KG5GR0SJzTGdlVgrS0S1%2Fi_upmbxhuvblqg.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmUEE610%2FZX1twkdzI1J6SzaxdcCBnk%2Fi_eq26tn2ajcnf.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ8AiCN9%2FrO2qWsYr34dDNNIZGLFgok%2Fi_dhc3k4h2rsmt.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmVcuAtY%2FB7MLTzYyNPXM8DQeKHouZK%2Fi_tfu3nkqvbk0w1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmVwNY11%2FDNuimkUyqpjw0OQBlECdSK%2Fi_bbij1yabxkzm1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmQoI4Wm%2FM2cKvVf9FYBP7ft7LQdIbk%2Fi_5gk5ouqdk9w21.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUz95Zgf%2FC5uph5P0fxKkKeQx5FswbK%2Fi_bgk9bu4fvj9i.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ9MJZho%2FQgUdKCd81rrszbnNJ8zCCK%2Fi_zkhjagvlb7zs1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmSfL16P%2FL5c4pGhLD0BhIS5WxoDoxK%2Fi_v92veqz4idtt.jpeg");

        var mname = "서지원";
        var wname = "최보배";
        var weddingDate = "2020-11-08";
        var lat = 35.177766;
        var lng = 129.075533;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name" style="color:#000000;font-weight: bold;">
                    서지원<span>그리고</span>최보배
                </div>
                <div class="pos" style="color:#000000;font-weight: bold;">
                    저희 결혼식에 초대합니다.<br />2020.11.08. 낮 12시<br />국민연금w웨딩 3층 에메랄드홀
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img src="https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmRHWawQ%2F68yKyo54tGuCYL29hvbfR1%2Fi_l3b14yg4ek7p1.jpeg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info" style="color:#000000;font-weight: bold;">
                    눈빛만 봐도 서로의 마음을 알 수 있는<br/>
                    두 사람이 이제 서로 하나가 되어<br/>
                    소중한 날들을 함께 걸어가려고 합니다.<br/><br/>

                    온전한 사랑 앞에 하나 되는 날,<br/>
                    따뜻한 마음을 담아 축하해 주시길 바랍니다.
                </div>

                <div class="parent" style="color:#000000;font-weight: bold;">
                    서상봉.김광자의 장남 서지원<br /> 최종헌.김나영의 장녀 최보배<br />
                </div>

                <div class="name">
                    <div>
                        <span style="font-size:14px;">신랑 서지원</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="tel:010-7337-1146"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;" /></a>
                        <a href="sms:010-7337-1146"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;" /></a>
                    </div>
                    <div style="padding-top:10px;">
                        <span style="font-size:14px;">신부 최보배</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="tel:010-8724-2125"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(180deg);" /></a>
                        <a href="sms:010-8724-2125"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(180deg);" /></a>
                    </div>
                </div>
                <div class="parent" style="overflow:hidden;">
                    <div style="float:left;width:50%;">
                        <div style="font-weight: bold;padding:5px;font-size:16px;">신랑측 혼주</div>
                        <div>
                            아버지 서상봉<br/>
                            <a href="tel:010-2552-1143"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-2552-1143"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a><br/><br/>
                            어머니 김광자<br/>
                            <a href="tel:010-2987-1145"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-2987-1145"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                        </div>
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="font-weight: bold;padding:5px;font-size:16px;">신부측 혼주</div>
                        <div>
                            아버지 최종헌<br/>
                            <a href="tel:010-3587-2125"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-3587-2125"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a><br/><br/>
                            어머니 김나영<br/>
                            <a href="tel:010-3598-2125"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-3598-2125"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                        </div>
                    </div>
                </div>
                <div class="parent_money" style="font-size: 14px;    text-align: center;    padding: 0px 0px;font-weight:bold;">
                    마음전하실 곳<br/>
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:30px;padding:30px;"/><br/>
                    <a href="javascript:virtual('부산은행 051120344855(서상봉)');" style="color:#1ebc91;text-decoration:none;font-weight:bold;">신랑측 계좌번호</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="javascript:virtual('부산은행 088120876549(최종헌)');" style="color:#ff6b9f;text-decoration:none;font-weight:bold;">신부측 계좌번호</a>
                    <div style="overflow:hidden;">
                        <div style="padding:10px 0px;font-weight:bold;float:left;width:50%;font-size: 12px;">부산은행<br/>051120344855(서상봉)</div>
                        <div style="padding:10px 0px;font-weight:bold;float:left;width:50%;font-size: 12px;">부산은행<br/>088120876549(최종헌)</div>
                    </div>
                </div>

            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="information">
                <div class="info" style="font-size:12px;">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:30px;"/><br/>
                    따뜻한 봄이 지나고, 뜨거운 여름이 지나면<br/>
                    코로나19의 확산이 진정될거라고 생각했지만<br/>
                    현재로써는 그 시기를 예측할 수 없게 되어<br/>
                    긴 고민 끝에 결혼식을 예정대로 진행하게 되었습니다.<br/><br/>

                    높고 파란 하늘과 예쁜 단풍이 피는 가을,<br/>
                    사랑하는 저희 두 사람이 한 가정을 이룹니다.<br/><br/>

                    저희 두 사람의 결혼식에 많은 축하와 격려 부탁드리며<br/>
                    축하의 따뜻한 마음만으로도 저희는 큰 힘을 얻습니다.<br/><br/>
                    
                    결혼을 축복해 주셔서 감사합니다. <br/>
                    또, 어려운 상황 속에서도 귀한 발걸음을 해주시는<br/>
                    하객 여러분들께도 미리 감사의 인사를 전합니다.
                </div>
                <div class="name" style="font-size:12px;">
                    신랑 서지원 신부 최보배 올림
                </div>
            </div>
            <div class="location" style="padding:10px;">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span>부산광역시 연제구 연산동 중앙대로 1000</span><br />
                    <span class="addr">국민연금w웨딩 3층 에메랄드홀</span><br /><br />
                    <span>051-668-7979</span>
                </div>
                <style>
                    .map_text {}

                    .map_text span {
                        padding: 5px 0px;
                        display: block;
                        font-weight: bold;
                    }

                    .map_text span,
                    p {
                        font-size: 14px;
                    }
                </style>
                <div class="map_text" style="padding:30px;font-size:14px;padding-top:0px;">
                    <div style="font-weight: bold;">
                        교통편 안내<br/>
                    </div>
                    <div>
                        <span>지하철</span>
                        <p>
                            1호선 시청역 하차 (2번출구이용)
                        </p>
                    </div>
                    <div>
                        <span>버스</span>
                        <p>
                            29, 86, 87, 99, 110-1, 131, 141, 179
                        </p>
                    </div>
                    <div>
                        <span>주차장</span>
                        <p>
                            국민연금빌딩 지하2층-4층(3시간무료)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li>
                        <a href="https://urban-incard.github.io/" target="_blank"><img src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="https://smartstore.naver.com/urbanincard" target="_blank"><img src="https://urban-incard.github.io/images/nv_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/urban.incard/" target="_blank"><img src="https://urban-incard.github.io/images/ig_logo.png"></a>
                    </li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type2/js/type2.js"></script>
<script>
    $(function() {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function() {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size", "26px")
    });
</script>

</html>