<!DOCTYPE html>
<html>

<head>
    <title>[이주현❤️이소아] 12월5일 결혼합니다!</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/y5ongtfol7/web_share.jpg" />
    <meta property="og:title" content="[이주현❤️이소아] 12월5일 결혼합니다!" />
    <meta property="og:description" content="[이주현❤️이소아] 12월5일 결혼합니다!" />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type3 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type3/css/type3.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VVI0HDmO%2FuiS9wEFNudLy3yZKvn46v0%2Fi_dc19x9o48o2j1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VVHnbMKo%2Fqj293v9kzX9K5Kc8KesGPK%2Fi_c3y894wvyovx.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3WT9v0dcF%2FQ3o8u4Vmn6He338TckTUb0%2Fi_1fa79n5xf8ih1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VVH1Ni4L%2FPVhknrNnseNgwt6ctPg6TK%2Fi_nl0j3kwzvrgj.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3WUc7kwJj%2FrkdP9uWf0E6tfVGS2xPgLk%2Fi_53v7ae0flc0p1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3WUcfbXno%2Fi7r16hbp3L7kZ7EconZpk0%2Fi_0l4qe0a5odjv.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3WUcGgydu%2FfG1uHFcSpIMrukfMKKHTf0%2Fi_nq3uuk85dxkr1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VVF3YACS%2Fs4HokIKQODYTEd0kB14Pe1%2Fi_vffjlgxlg8ln.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VVJL5yNH%2FHIK7ZGSCqIRDjr9Re7VVO0%2Fi_c4i20sk9zyqc1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3WUbm3awL%2FKbpehpMKywMIDl32uNU7Fk%2Fi_h9uod2fsjvwo1.jpeg");

        var mname = "이주현";
        var wname = "이소아";
        var weddingDate = "2020-12-05";
        var lat = 37.414166;
        var lng = 126.655364;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header" back="background-size: 150%;">
            <div class="top">
                <div class="name" style="margin-top: -55px;">이주현<span>그리고</span>이소아</div>
                <div class="pos" style="font-size:14px;font-weight: bold;padding-top: 50px;">
                    2020.12.05 저희 결혼식에 초대합니다. <br /><br />라마다송도호텔 다빈치홀 / 오후 3시
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    모시는 글<br/><br/>

새로운 마음과 새 의미를 간직하며<br/>
저희 두 사람이 새 출발의 첫 걸음을 내딛습니다.<br/>
좋은 꿈, 바른 뜻으로 올바르게 살 수 있도록<br/>
축복과 격려 주시면 더 없는 기쁨으로<br/>
간직하겠습니다.<br/><br/>

코로나19로 고민이 많았지만,<br/>
예정대로 식을 진행하게 되었습니다.<br/>
참석하지 못하시더라도<br/>
축복해주시는 마음만은 잊지 않고 잘 살겠습니다.
                </div>
                <div class="parent" style="color:#000000;font-weight: bold;font-size:15px;line-height: 25px;">
                    이철수.김은미의 장남 이주현<br /> 이잠철.이순희의 장녀 이소아<br />
                </div>

                <div class="name">
                    <div>
                        <span style="font-size:14px;">신랑 이주현</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="tel:010-5241-5147"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;" /></a>
                        <a href="sms:010-5241-5147"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;" /></a>
                    </div>
                    <div style="padding-top:10px;">
                        <span style="font-size:14px;">신부 이소아</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="tel:010-4714-1333"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(180deg);" /></a>
                        <a href="sms:010-4714-1333"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(180deg);" /></a>
                    </div>
                </div>
                <div class="parent" style="overflow:hidden;">
                    <div style="float:left;width:50%;">
                        <div style="font-weight: bold;padding:5px;font-size:16px;">신랑측 혼주</div>
                        <div>
                            아버지 이철수<br/>
                            <a href="tel:010-5332-5147"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-5332-5147"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a><br/><br/>
                            어머니 김은미<br/>
                            <a href="tel:010-6418-5547"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-6418-5547"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                        </div>
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="font-weight: bold;padding:5px;font-size:16px;">신부측 혼주</div>
                        <div>
                            아버지 이잠철<br/>
                            <a href="tel:010-6225-4064"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-6225-4064"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a><br/><br/>
                            어머니 이순희<br/>
                            <a href="tel:010-4748-4064"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                            <a href="sms:010-4748-4064"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);" /></a>
                        </div>
                    </div>
                </div>
                <div class="parent_money" style="font-size: 14px;    text-align: center;    padding: 0px 0px;font-weight:bold;">
                    <마음전하실곳><br/>
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:30px;padding:30px;"/><br/>
                    <a href="javascript:virtual('국민은행 237-24-0304-069(이철수)');" style="color:#1ebc91;text-decoration:none;font-weight:bold;padding: 10px;border: 1px solid #d2d2d2;">신랑측 계좌번호</a> &nbsp; 
                    <a href="javascript:virtual('국민은행 051-24-0188-713(이잠철)');" style="color:#ff6b9f;text-decoration:none;font-weight:bold;padding: 10px;border: 1px solid #d2d2d2;">신부측 계좌번호</a>
                    <div class="virtual_wrap" style="padding:10px 0px;font-weight:bold;margin:10px;"></div>
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span style="line-height:26px;">인천광역시 연수구 동춘동 능허대로267번길 29</span><br />
                    <span class="addr">라마다송도호텔 다빈치홀</span><br /><br />
                    <span>032-832-2000</span>
                </div>
                <div class="navigation">
                    <img class="btnNNavi" src="/media/navi-n.png" onclick="nNavi()">
                    <img class="btnTmap" src="/media/navi-t.png" onclick="tmap()">
                    <img class="btnKNavi" src="/media/navi-k.png" onclick="kNavi()">
                </div>
                <style>

                    .navigation{text-align: center;}
                    .navigation>img{width:55px;}

                    .map_text {}

                    .map_text span {
                        padding: 5px 0px;
                        display: block;
                        font-weight: bold;
                    }

                    .map_text span,
                    p {
                        font-size: 14px;
                    }
                </style>
                <div class="map_text" style="padding:30px;font-size:14px;padding-top:0px;">
                    <div style="font-weight: bold;padding:10px 0px;">
                        교통편 안내
                    </div>
                    <div>
                        <span>자가용 이용시</span>
                        <p style="padding:5px 0px;line-height:24px;">
                            ① 제2경인고속도로 : 문학IC(연수·송도방면) → 문학터널/요금소 → 송도국제도시방면 직진 → 청량터널 → 송도유원지방향 진출(우측차로 이용) → 능허대공원 방향 우회전 → 700m 전방 앵고개로87번길 방면 우회전<br/><br/>
                            ② 영동고속도로~제3경인고속도로 : 영동고속도로(인천방향) → 월곶JC(인천공항 방면) → 고잔TG → 인천항·경제자유구역-송도 방면 진출 → 시립박물관(앵고개로) 우회전 → 700m 전방 코리아 웨딩타운 좌회전 →100m 전방 우회전
                        </p>
                    </div>
                    <div>
                        <span>대중교통 이용시</span>
                        <p style="padding:5px 0px;">
                            ① 지하철 : 인천지하철 1호선 동춘역 2번출구 → 65-1번 버스 (택시 이용시 요금 약 4,400원)<br/><br/>
                            ② 버 스 <br/>광역버스 9200번 강남역 6번출구 → 송도유원지(도로교통공단) 하차 → 도보 10분 <br/><br/>
                            시내버스 8번, 8A번, 9번, 16번, 65-1번, 111-2번 → 송도라마다호텔앞 하차
                        </p>
                    </div>
                    <div style="padding:10px 0px;">
                        <span>셔틀버스 이용시</span>
                        <p style="padding:5px 0px;line-height:24px;">
                            ① 동춘역 5번 출구<br/>(셔틀 운행시간 : 14시30분, 14시50분)
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li>
                        <a href="https://urban-incard.github.io/" target="_blank"><img src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="https://smartstore.naver.com/urbanincard" target="_blank"><img src="https://urban-incard.github.io/images/nv_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/urban.incard/" target="_blank"><img src="https://urban-incard.github.io/images/ig_logo.png"></a>
                    </li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type3/js/type3.js"></script>
<script>
    $(function() {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function() {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size", "32px")
        $(".day.event").parent().css("position","relative")
        $(".day.event").parent().append("<span style='font-size:11px;position: absolute;    bottom: -5px;    left: 5px;    color: #b74343;    font-weight: bold;'>오후 3시</span>")
        
    });
    
var destination = '라마다송도호텔';

Kakao.init('c8dcf002e3cb41a603da7f0d485b5f0b');
function kNavi(){ Kakao.Navi.start({ name: destination, x: lng, y: lat, coordType: 'wgs84'});}
function tmap() { window.open("https://apis.openapi.sk.com/tmap/app/routes?appKey=l7xx69b0c8b4ae0f42a8aecea5d46eb2c8df&name="+destination+"&lon="+lng+"&lat="+lat);}
function nNavi(){ window.open("https://m.map.naver.com/directions/?"+'ename='+destination+"&ex="+lng+"&ey="+lat);}

</script>

</html>