<!DOCTYPE html>
<html>

<head>
    <title>[신홍재♥한아름] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/f2fh3bwvz9/web_share.jpg" />
    <meta property="og:title" content="[신홍재♥한아름] 결혼식에 초대합니다." />
    <meta property="og:description" content="[신홍재♥한아름] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type1 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type1/css/type1.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl34yDchkWs%2FQOJUTMnuTEeqQv42uuF7d0%2Fi_rnkfsz.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl34yFuocC2%2FV1r9KY1DvWiWpAcgQHwYHK%2Fi_mmdtpy.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl35lQPbglu%2F1TO3ldYmWbYNiikaJngYh0%2Fi_css1r6.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl34yE95H3o%2FYBFt3dOzIa41jUno6oUM6K%2Fi_50m7mn.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl35lPiqY34%2F5CKHKCnoA5KXATrUUecBk0%2Fi_mql8t7.jpg");

        var mname = "신홍재";
        var wname = "한아름";
        var weddingDate = "2021-01-23";
        var lat = 37.503714263919285;
        var lng = 126.91538590549528;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name" style="font-weight:bold;font-size:22px;">
                    <span style="font-size:22px;color:#96a29e;font-weight:bold;">1월</span><br/>
                    어느 멋진 날<br/>
                    결혼합니다
                </div>
                <div class="pos">
                    <span style="font-size:13px;color:#96a29e;font-weight:bold;">2021.01.23</span> / 12:30<br />
                    <b style="font-weight:bold;">해군호텔 W웨딩홀 별관 세인트홀</b><br />
                    신홍재 그리고 한아름
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type1/object.png" style="width:180px;" />
                </div>
            </div>
            <div class="bottom">
                <img src="https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl34yDwz2xS%2FyVKcuaDg6NvCa3J3QgiHwK%2Fi_lwlkwy.jpg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    서로의 마음과 서로의<br> 믿음을 간직하며<br> 저희 두 사람이 새 출발의<br>
                    <br> 첫 걸음을 내딛게 되었습니다.<br>
                    <br> 좋은 꿈, 바른 뜻으로<br> 올바르게 살 수 있도록<br> 축복과 격려를 해주시면<br> 더 없는 기쁨으로<br> 잘 간직하겠습니다.
                </div>
                
                <div class="name" style="font-weight:normal;">
                    신랑 신홍재 신부 한아름 올림
                </div>

                <div class="parent" style="color:#000000;font-weight: bold;">
                    신용래.고정순의 장남 신홍재<br>이란의 장녀 한아름<br>
                </div>

                <div class="name">
                    <div>
                        <span style="font-size:14px;">신랑 신홍재</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="tel:010-2002-4884"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;" /></a>
                        <a href="sms:010-2002-4884"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;" /></a>
                    </div>
                    <div style="padding-top:10px;">
                        <span style="font-size:14px;">신부 한아름</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="tel:010-2002-2221"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(180deg);" /></a>
                        <a href="sms:010-2002-2221"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(180deg);" /></a>
                    </div>
                </div>
                <div class="parent" style="overflow:hidden;">
                    <div style="float:left;width:50%;">
                        <div style="font-weight: bold;padding:5px;font-size:16px;">신랑측 혼주</div>
                        <div>
                            아버지 신용래<br>
                            <a href="tel:010-9166-7452"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);"></a>
                            <a href="sms:010-9166-7452"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);"></a><br><br>
                            어머니 고정순<br>
                            <a href="tel:010-5688-7452"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);"></a>
                            <a href="sms:010-5688-7452"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);"></a>
                        </div>
                    </div>
                    <div style="float:left;width:50%;">
                        <div style="font-weight: bold;padding:5px;font-size:16px;">신부측 혼주</div>
                        <div>
                            어머니 이란<br>
                            <a href="tel:010-2488-6242"><img src="/media/dialer-284_84338.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);"></a>
                            <a href="sms:010-2488-6242"><img src="/media/sms-284_84336.png" style="width:20px;height:20px;vertical-align:middle;filter: hue-rotate(250deg);"></a>
                        </div>
                    </div>
                </div>
                <div class="parent_money" style="font-size: 14px;    text-align: center;    padding: 0px 0px;font-weight:bold;padding-top:50px;">
                    <마음전하실곳><br/>
                    <img src="https://urban-incard.github.io/type1/1_top.png" style="width:30px;padding:30px;"/><br/>
                    <a href="javascript:virtual('농협 553-12-164177(신용래)<br/>농협 312-0193-6632-51(신홍재)');" style="color:#1ebc91;text-decoration:none;font-weight:bold;padding: 10px;border: 1px solid #d2d2d2;">신랑측 계좌번호</a> &nbsp; <a href="javascript:virtual('국민 4871-01-01-382109(이란)<br/>신한 110-369-80-4562(한아름)');" style="color:#ff6b9f;text-decoration:none;font-weight:bold;padding: 10px;border: 1px solid #d2d2d2;">신부측 계좌번호</a>
                    <div class="virtual_wrap" style="padding:10px 0px;font-weight:bold;margin:10px;"></div>
                </div>

            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span>서울특별시 영등포구 신길동 2001-4</span><br />
                    <span class="addr">해군호텔 W웨딩홀 별관 세인트홀</span><br /><br />
                    <span>02-841-4114</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li>
                        <a href="https://urban-incard.github.io/" target="_blank"><img src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="https://smartstore.naver.com/urbanincard" target="_blank"><img src="https://urban-incard.github.io/images/nv_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/urban.incard/" target="_blank"><img src="https://urban-incard.github.io/images/ig_logo.png"></a>
                    </li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type1/js/type1.js"></script>
<script>
    $(function() {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function() {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size", "26px")
    });
</script>

</html>
