<!DOCTYPE html>
<html>

<head>
    <title>[육기범♥윤가영] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/o9oyldim8s/web_share.jpg" />
    <meta property="og:title" content="[육기범♥윤가영] 결혼식에 초대합니다." />
    <meta property="og:description" content="[육기범♥윤가영] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];

        gallery_url.push("https://1.bp.blogspot.com/-NjfHM7kMHDw/X4T-fnf1MDI/AAAAAAABOts/kcdS2Zn3IPsQBJ03d7WOkHi8Cy7fB3bWQCLcBGAsYHQ/w640-h429/a.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-IZs4-m9bddY/X4T-f9zygdI/AAAAAAABOtw/EVmVB5PnwbUfSP0JAxoS7l8pjI0Ww6ZpgCLcBGAsYHQ/w640-h426/b.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-F_MRtuYLlz4/X4T-fx6-TyI/AAAAAAABOt0/fPtW65JDHCkezlBCmGyZwBeg2YoyBaCvwCLcBGAsYHQ/w438-h640/c.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-8pnzNWCXBD0/X4T-gSgraDI/AAAAAAABOt4/Cr2as4fwoTARiCY7fNUGT6N3Mc_X_PdZACLcBGAsYHQ/w640-h424/d.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-RkZe7zDyaPg/X4T-gY5aGNI/AAAAAAABOuA/jciUElgnah8tegLteELIhkv82z1Za8XsQCLcBGAsYHQ/w460-h640/e.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-JrqOtnHZ6Wk/X4T-grVJoBI/AAAAAAABOuE/T5jhAPK4ONgxNKOv901p28r2wf2qCbPDACLcBGAsYHQ/w426-h640/f.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-K8sFMfuF7-w/X4T-g0TAGUI/AAAAAAABOuI/4J3FR7Ff0vsunBC0CN7oZ9ugAIEgaZycwCLcBGAsYHQ/w426-h640/g.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-MF_ClA43kNA/X4T-h4nVi7I/AAAAAAABOuM/VvJ5f7qfXfc1OZ_ZhGxZK2lEpNV_ZAWqwCLcBGAsYHQ/w640-h426/h.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-iUhTdL0yxrk/X4T-iXilaNI/AAAAAAABOuY/3KcrF9dQGxAnyW6zhoF4o_fur7Is2SLugCLcBGAsYHQ/w640-h426/i.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-m2bIV44moVY/X4T-i3ElsFI/AAAAAAABOuc/9FjRaZxXTFU9baMHT9Y_Iy2lwjJcyQa4gCLcBGAsYHQ/w416-h640/j.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-5OjJHkgOByk/X4T-jIEjDaI/AAAAAAABOug/9eq2GwTbgCYpQjC31QgGI0NNgRQ3B6x_gCLcBGAsYHQ/w640-h426/k.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-IvpUvBUgZVk/X4T-kB5RzgI/AAAAAAABOuo/QcHVvObr2347s65L0Cdsxwh2ENTjxUU9ACLcBGAsYHQ/w460-h640/l.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-z9BfvbYKS9Y/X4T-kZ_e5EI/AAAAAAABOus/FkahKLek28oH08SFcEGUErZtRENdz6nwwCLcBGAsYHQ/w438-h640/m.jpg");
        gallery_url.push("https://1.bp.blogspot.com/--ZsBbPj7ze8/X4T-kU2FopI/AAAAAAABOuw/GwFvi5owsUs6Gd8vNnjK5S5b-y233aN0ACLcBGAsYHQ/w452-h640/n.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-Cj_Uo7TheKU/X4T-lC2zcHI/AAAAAAABOu0/Y3BPdWWb24QED6Mzqy6InCpb64Rgw6ipQCLcBGAsYHQ/w456-h640/o.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-ClDVsjoSABI/X4T-lTE-axI/AAAAAAABOu8/ROwDt3huSFEL43618k3tur0q6E8L31hMQCLcBGAsYHQ/w440-h640/p.jpg");
        gallery_url.push("https://1.bp.blogspot.com/--w_Kx182Xt0/X4T-laXW2qI/AAAAAAABOu4/hkvunyD89SgRgOEca0XacweLFM9D1fvsgCLcBGAsYHQ/w640-h562/q.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-9HFPrdrkbQQ/X4T-l4rN8JI/AAAAAAABOvA/5XOiaDSqSk0ugQ9wljCmM6En98J41rbHgCLcBGAsYHQ/w640-h426/r.jpg");

        /*
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUAutI23%2Fyt6bVgwNRpRGMFJHOvPigk%2Fi_k3r6l8fmicqb1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKaycqIv%2FPsq1fnVBIaUM6uw1stA27K%2Fi_uzr963myy1zo.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUAH0SG8%2FStJTzK1vwQJ9zZSXadfq60%2Fi_eiexhja7wqyj.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUxkduEw%2FyreRIwiLg2KChSh1TWTW90%2Fi_3hpo955cs80c1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUAOMijC%2FCdNZm7KGRvVk5n2X9zern0%2Fi_fhnoucubl7ij.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ8UFZqk%2FkyHb7jxS8ldIshFvBKIyK0%2Fi_7lh8pl7ixztu1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUAOMiJr%2FJc0msMSDFhsfkFHJWwQC3k%2Fi_y4v1hne22qa9.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUxEwtOI%2FZjDXPq15gpXISXyI9jriFK%2Fi_awgl9qakseu51.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ7nV9oX%2FUi1liH9BgBqJjfKSpr88z0%2Fi_fpl0159c589n.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ7haUHW%2F9F67PYajCLDTAnYcOk3kFK%2Fi_p8mfcq2jdzfc1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKaEXIV5%2FGP8QbjI8OLr7KabaBhB74k%2Fi_blarxmoxqe2g.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUyKcqMh%2FW7oOkmkEdYpQIyKKt430HK%2Fi_gadgtidosp9v1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKaycqU8%2FwsKFJneKFlDKK74BSPG3jK%2Fi_0hffd046jdqf1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUyi79QZ%2F0A0I0hLK08KErjLEMKKiW1%2Fi_opis1mci01vu1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ9eZmGH%2FYy9efbUET7AHGk72BEEdbK%2Fi_6d340nb5d2k1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUAnIch0%2FXtZLLVNpcAHvyVFrum4en1%2Fi_dgb0njdnnwj8.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VUAaa9s5%2FoBWEB4KFSve4TT9k53AnWk%2Fi_r9yg0ok554g01.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKaLJyLN%2FdreQTKKszvqa7Tk1aUWClk%2Fi_229tly1cnv3l.jpg");
        */
        var mname = "육기범";
        var wname = "윤가영";
        var weddingDate = "2020-11-14";
        var lat = 37.286370;
        var lng = 127.035916;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name">
                    육기범<span>그리고</span>윤가영
                </div>
                <div class="pos">
                    저희 결혼식에 초대합니다.<br /><span style="font-weight:bold;">2020.11.14. 오후 2시</span><br />WI컨벤션 W홀
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img src="https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3VVJx9bsq%2FZzhkMzsRyke6MSCfR9Irwk%2Fi_izs6dpcaw80d.jpg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    서로의 마음과 서로의<br /> 믿음을 간직하며<br /> 저희 두 사람이 새 출발의<br />
                    <br /> 첫 걸음을 내딛게 되었습니다.<br />
                    <br /> 좋은 꿈, 바른 뜻으로<br /> 올바르게 살 수 있도록<br /> 축복과 격려를 해주시면<br /> 더 없는 기쁨으로<br /> 잘 간직하겠습니다.
                </div>
                <div class="name">
                    기범.가영<br /> 올림
                </div>
                <div class="parent">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;육심동.남미경<span style="font-size:11px;">의 장남</span> 육기범<br /><br /> <span style="font-family: '돋움';font-size:10px;">(故)</span>윤종성.조진희<span style="font-size:11px;">의 장녀</span> 윤가영<br />
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span style="line-height:26px;">경기도 수원시 팔달구 월드컵로 310</span><br />
                    <span class="addr">WI컨벤션 W홀</span><br /><br />
                    <span>031-241-6000</span>
                </div>
                <style>
                    .map_text {}

                    .map_text span {
                        padding: 5px 0px;
                        display: block;
                        font-weight: bold;
                    }

                    .map_text span,
                    p {
                        font-size: 14px;
                    }
                </style>
                <div class="map_text" style="padding:30px;font-size:14px;padding-top:0px;">
                    <div style="font-weight: bold;padding:10px 0px;">
                        교통편 안내
                    </div>
                    <div>
                        <span>대중교통 이용 시</span>
                        <p style="padding:5px 0px;">
                            경기도수원월드컵경기장 또는 동성중 버스정류장 하차<br /><br />
                        </p>
                    </div>
                    <div>
                        <span>자가차량 이용시</span>
                        <p style="padding:5px 0px;line-height:24px;">
                            내비게이션 검색어 [WI컨벤션] 입력<br/>
                            주소 : 경기도 수원시 팔달구 월드컵로 310<br/>(우만동 209) - P4주차<br/>
                            * 무료주차는 2시간 입니다.
                        </p>
                    </div>
                    <div style="padding:10px 0px;">
                        <span>셔틀버스 이용시</span>
                        <p style="padding:5px 0px;line-height:24px;">
                            수원시청역 (분당선) : 정시기준 약 20분 간격<br/>10번 출구 에스컬레이터 이용 후, 9번 출구 앞 <br/>▶ 25인승 버스 승차<br /><br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li>
                        <a href="https://urban-incard.github.io/" target="_blank"><img src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="https://smartstore.naver.com/urbanincard" target="_blank"><img src="https://urban-incard.github.io/images/nv_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/urban.incard/" target="_blank"><img src="https://urban-incard.github.io/images/ig_logo.png"></a>
                    </li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type2/js/type2.js"></script>
<script>
    $(function() {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function() {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size", "26px")

        console.log($(".swiper-slide").css({
            "background-repeat": "",
            "background-size": "",
            "background-position": ""
        }))
    });
</script>

</html>