<!DOCTYPE html>
<html>

<head>
    <title>[송한규♥조지훈] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/pbi8utll1m/web_share.jpg" />
    <meta property="og:title" content="[송한규♥조지훈] 결혼식에 초대합니다." />
    <meta property="og:description" content="[송한규♥조지훈] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];

        //gallery_url.push("https://1.bp.blogspot.com/-NjfHM7kMHDw/X4T-fnf1MDI/AAAAAAABOts/kcdS2Zn3IPsQBJ03d7WOkHi8Cy7fB3bWQCLcBGAsYHQ/w640-h429/a.jpg");
        //gallery_url.push("https://1.bp.blogspot.com/-IZs4-m9bddY/X4T-f9zygdI/AAAAAAABOtw/EVmVB5PnwbUfSP0JAxoS7l8pjI0Ww6ZpgCLcBGAsYHQ/w640-h426/b.jpg");
        //gallery_url.push("https://1.bp.blogspot.com/-F_MRtuYLlz4/X4T-fx6-TyI/AAAAAAABOt0/fPtW65JDHCkezlBCmGyZwBeg2YoyBaCvwCLcBGAsYHQ/w438-h640/c.jpg");

        var mname = "송한규";
        var wname = "조지훈";
        var weddingDate = "2020-11-14";
        var lat = 37.542178;
        var lng = 126.952454;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name">
                    송한규<span>그리고</span>조지훈
                </div>
                <div class="pos">
                    저희 결혼식에 초대합니다.<br /><span style="font-weight:bold;">2020.11.14. 오후 2시</span><br />아펠가모 공덕 마리에홀
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img src="https://shop-phinf.pstatic.net/20201014_174/1602650500491CXizo_JPEG/32-J66A9044-2_5x7.JPG?type=m600_talk" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    서로의 마음과 서로의<br /> 믿음을 간직하며<br /> 저희 두 사람이 새 출발의<br />
                    <br /> 첫 걸음을 내딛게 되었습니다.<br />
                    <br /> 좋은 꿈, 바른 뜻으로<br /> 올바르게 살 수 있도록<br /> 축복과 격려를 해주시면<br /> 더 없는 기쁨으로<br /> 잘 간직하겠습니다.
                </div>
                <div class="name">
                    한규.지훈<br /> 올림
                </div>
                <div class="parent">
                    송종춘.김영아<span style="font-size:11px;">의 차남</span> 송한규<br /><br /> 조태원.이민옥<span style="font-size:11px;">의 장녀</span> 조지훈<br />
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span style="line-height:26px;">서울특별시 마포구마포대로 92 (도화동 25-13) 효성해링턴스퀘어B동 7층</span><br />
                    <span class="addr">아펠가모 공덕 마리에홀</span><br /><br />
                    <span>02-2197-0230</span>
                </div>
                <style>
                    .map_text {}

                    .map_text span {
                        padding: 5px 0px;
                        display: block;
                        font-weight: bold;
                    }

                    .map_text span,
                    p {
                        font-size: 14px;
                    }
                </style>
                <div class="map_text" style="padding:30px;font-size:14px;padding-top:0px;">
                    <div style="font-weight: bold;padding:10px 0px;">
                        교통편 안내
                    </div>
                    <div style="padding:10px 0px;">
                        <span>대중교통 이용시</span>
                        <p style="padding:5px 0px;line-height:24px;">
                            [경의중앙선,공항철도 방면 공덕역 10번 출구]
                            방향으로 나와 유턴 후, 전방 50미터 우측 효성해링턴스퀘어 B동 7층
                            <br/><br/>
                            [6호선 방면 공덕역 7번 출구]
                            방향으로 나와 우측 '파리바게트' 통로길 직진, '육대장'지나 '용호낙지'끼고 좌회전, 효성해링턴스퀘어 B동 7층
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li>
                        <a href="https://urban-incard.github.io/" target="_blank"><img src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="https://smartstore.naver.com/urbanincard" target="_blank"><img src="https://urban-incard.github.io/images/nv_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/urban.incard/" target="_blank"><img src="https://urban-incard.github.io/images/ig_logo.png"></a>
                    </li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type3/js/type3.js"></script>
<script>
    $(function() {
        gallery_url_set(gallery_url);

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size", "32px")
    });
</script>

</html>