<!DOCTYPE html>
<html>

<head>
    <title>[이종만♥김태희] 결혼 합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/rmb0wcsenb/web_share.jpg" />
    <meta property="og:title" content="[이종만♥김태희] 결혼 합니다." />
    <meta property="og:description" content="[이종만♥김태희] 결혼 합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkyrBNxK%2FhOmDLR7Yqd4QcwnWVhrn51%2Fi_33qfgy3hsol21.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkAbTlrq%2FQCDWk1FfF6LnsKcvgGsAjk%2Fi_t7lko2g0o5zl.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3Ukyym1Im%2FHk1Q98WpSZiHoswbVK6DE1%2Fi_ky5bcy7l16ao1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkAQuvs2%2FkRJCqa48Qz35QDWaaeGpq0%2Fi_w399a4zvvy1u.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkB9HzgV%2Ffo4Z5StliUWIriEOAUPeR0%2Fi_5xa49jnlld9n.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkBokAed%2FnkVuLAImIBxOOo8p4lcKN1%2Fi_khorq76r1bpu1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCbKUhGF%2FcSt0BibMLKayTfMJE6z591%2Fi_7vpqidyz1ph9.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCeOpZ2Z%2Fn9NkDldg12hKcH0MQNjHZ0%2Fi_9w8ylee73gr41.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkDGr2n3%2F7xZ4K8BibeeRzkB5dgzP31%2Fi_nstb74guv8ea.jpg");

        var mname = "이종만";
        var wname = "김태희";
        var weddingDate = "2020-10-18";
        var lat = 37.558356;
        var lng = 127.034331;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name">
                    이종만<span>과</span>김태희
                </div>
                <div class="pos">
                    저희 결혼 합니다.<br />2020.10.18.
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img
                    src="https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkyrBNxK%2FhOmDLR7Yqd4QcwnWVhrn51%2Fi_33qfgy3hsol21.jpg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>드리는 글</h2>
                </div>
                <div class="info">
                    가을의 아름다운 날 <br/>
                    오랫동안 기다려온 인연을 만나<br/>
                    결혼을 하려고 합니다<br/><br/>
                    
                    지금까지 곁에서 아껴주셨던<br/>
                    고마운 분들을<br/>
                    초대하는 것이 도리인줄 아오나<br/><br/>

                    종식을 예측할수 없는<br/>
                    코로나19 재확산과<br/>
                    사회적 거리두기 강화로 인해<br/><br/>

                    신부와 같은 뜻을 품고<br/>
                    둘만의 작은 식을 올리려고 합니다.<br/><br/>

                    넓은 마음으로 양해 부탁드리며<br/>
                    멀리서나마 축하해 주시면<br/>
                    감사하겠습니다<br/><br/>

                    늦게하는 결혼인 만큼<br/>
                    평생의 동반자로서<br/>
                    서로의 든든한 버팀목이<br/>
                    되도록 하겠습니다.
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li><a href="https://urban-incard.github.io/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li><a href="https://smartstore.naver.com/urbanincard" target="_blank"><img
                                src="https://urban-incard.github.io/images/nv_logo.png"></a></li>
                    <li><a href="https://www.instagram.com/urban.incard/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ig_logo.png"></a></li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type2/js/type2.js"></script>
<script>
    $(function () {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function () {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);
    });
</script>

</html>