<!DOCTYPE html>
<html>

<head>
    <title>[최신구♥송가람] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/ixjwgfi51r/web_share.jpg" />
    <meta property="og:title" content="[최신구♥송가람] 결혼식에 초대합니다." />
    <meta property="og:description" content="[최신구♥송가람] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkzcVY21%2FFZB943uvTXnjyvNcCRAKi1%2Fi_nxhqod.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkCAJvnB%2FP3hmYGWwHDKPIC9C3MWnf1%2Fi_uzrunt.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkyLRzOr%2FS17BIDcnxe0etv6nRLLWh0%2Fi_hkhy1i.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCcC1dkN%2FkSsomUK6NwiZVhQOe2dkCk%2Fi_83fixp.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCbREqZt%2Fj67hjmoxlTLPwHo2poUMK0%2Fi_cdfsvn.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCdooamf%2FLCsYdBQXkGxKbZvq7WOUkK%2Fi_5hezg9.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCbRErqz%2FlDwkBd3K1LhGceHgNYatK1%2Fi_r4dufr.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCbKRyGT%2FBFvBCsny65arIjBbSpnhxK%2Fi_cu4cd6.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkAQrN5o%2FiFCKKBS3wkFQHV3SYDIGvk%2Fi_wmtti9.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkCgqNwM%2F2zhJTToWCXJHJqoizXc7Uk%2Fi_8accx0.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCeAPHXs%2FeCzixp5dOCqRkV1XUjhdX0%2Fi_91f90h.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkySC7Jy%2FjZp4T1k7eeKfUW0Lgn8K5K%2Fi_qi7tg1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkAQrML9%2F8YtueZEPQmx5RcJUKhHmok%2Fi_roesro.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkCtXDAi%2FFZVN0dwwGHa0QpUO8Wazv0%2Fi_7oqqg6.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkAJGBBY%2F2NPtgnhbIpvoCXfArZHsK1%2Fi_f64kpt.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkBhwrf1%2FJ7TIsYfV3mjfvlqBhIPsy0%2Fi_2c4nn4.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCcbW5ot%2FlkXJZfo2243y3pQZU0pNKk%2Fi_wo57cj.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCcbW5kh%2FgsV2HNxUcylShRVkt8bktK%2Fi_j4wjz1.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCfNhbaD%2FgAC6suvpHjpnAagZ1KCeG1%2Fi_t9su1p.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCdu9NnO%2FK2kmxbZA7th90H6AL7kSV0%2Fi_acjr8u.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCcptkj2%2F0io2XdzhdoxOr0GcQwruK1%2Fi_ew7bae.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCe8FIqm%2FOhmDsnAOdWjfwrYbThM6ik%2Fi_0d8878.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCffrovR%2FqsTmRcK4xEjN8ZIAgpQcdk%2Fi_qbp7o7.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkCU2BUP%2FapCma6jj5v3BfOBU7CRCBk%2Fi_w76ltw.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkySC7sJ%2FcIUClIQoSVqou3jm8SSxg0%2Fi_rc945g.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkCHvb0B%2FTPxbYcD89qz9kMnekFq56k%2Fi_ge7bpr.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCfGvrqG%2FaEUtKwdhcXN4NqYEzvVeqk%2Fi_6ppsyr.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkBhwrHU%2FFo5K7m3Ukv30kFrCbad1Dk%2Fi_tq6c93.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3Uky6atLg%2F7ivT228gP7AB80KCmpaL7K%2Fi_rm59ri.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCegw1KR%2F5J5RWU9w1Gb4pq0kEwi25k%2Fi_cr40tm.jpg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkDGpssV%2F1040zjLrRHUSYYKozXAkSK%2Fi_fekupa.jpg");

        var mname = "최신구";
        var wname = "송가람";
        var weddingDate = "2020-10-17";
        var lat = 37.558356;
        var lng = 127.034331;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name">
                    최신구<span>와</span>송가람
                </div>
                <div class="pos">
                    저희 결혼식에 초대합니다.<br />2020.10.17. AM 12:00<br />레노스 블랑쉬
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img
                    src="https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3UkzcVY21%2FFZB943uvTXnjyvNcCRAKi1%2Fi_nxhqod.jpg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    2013년 9월 가을,<br/>
                    서로의 손을 마주 잡고 연인이 되었습니다.<br/>
                    7년의 시간 동안 쌓은 신뢰와 사랑으로<br/><br/>

                    2020년 10월 가을,<br/>
                    다시 한번 손을 잡고 같은 곳을 바라보는<br/>
                    부부의 길을 걸으려고 합니다.<br/><br/>

                    아름다운 약속의 자리에 귀한 분의 걸음을 청합니다.
                </div>
                <div class="name">
                    신구.가람<br /> 올림
                </div>
                <div class="parent">
                    최재복.김춘자의 장남 신구<br /> 송광재.손성희의 장녀 가람<br />
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span>서울특별시 성동구 행당동 319-36</span><br />
                    <span class="addr">레노스 블랑쉬</span><br /><br />
                    <span>02-2295-9925</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li><a href="https://urban-incard.github.io/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li><a href="https://smartstore.naver.com/urbanincard" target="_blank"><img
                                src="https://urban-incard.github.io/images/nv_logo.png"></a></li>
                    <li><a href="https://www.instagram.com/urban.incard/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ig_logo.png"></a></li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type2/js/type2.js"></script>
<script>
    $(function () {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function () {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size","26px")
    });
</script>

</html>