<!DOCTYPE html>
<html>

<head>
    <title>[최신구♥송가람] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/ixjwgfi51r/web_share.jpg" />
    <meta property="og:title" content="[최신구♥송가람] 결혼식에 초대합니다." />
    <meta property="og:description" content="[최신구♥송가람] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmTS7YQH%2FwgjOqZN5nATBLSkQTs6KZk%2Fi_1cdw82yahx1r.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ9eKF6o%2FMXJd0jwXeOnK5tpGVg2v0K%2Fi_5m5pdhvljwuw.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ9MAlBD%2FUlRksluJ5J9kkCU7pyPXFK%2Fi_59fo4nvgy8bj1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmUdqSkj%2FYR2fJqHiYC3FZKAbScJCc0%2Fi_p5r46788iuai.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKcifgKm%2FZtNh7hSbKdjEIXFXPG8kG1%2Fi_zj6kkgr1y8cq1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKaLuTZ9%2FOcdFOR7t8C4085EkRBMHck%2Fi_b648nerwqohw.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmQB6MvK%2FSLVO7CM8AaOCLUvCpyYJPk%2Fi_6ddnqfldvce41.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3RmQPEBBY%2FSEk94oW29NfZqv0u0g8fLK%2Fi_2h6h0fwiuqmf.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TKaY1Tw3%2FZ22ZKxcUidWkA3FfDqsRNk%2Fi_v8zwvseq88iq1.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ6WDuyQ%2FrwlzH3GvmGbyt6mbqdkGV0%2Fi_3plc0fipxvh9.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TJ9y3jbf%2FUXCfsJs6B0jWbGrGjkgtok%2Fi_t5yb874w7ial.jpeg");
        gallery_url.push("https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCdu4WpU%2Fekfidllb5lMoedIX50HIq1%2Fi_rgdvf10a0gjl.jpeg");

        var mname = "최신구";
        var wname = "송가람";
        var weddingDate = "2020-10-17";
        var lat = 37.380864;
        var lng = 126.659300;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name">
                    최신구<span>과</span>송가람
                </div>
                <div class="pos">
                    저희 결혼식에 초대합니다.<br />2020.10.17. 오후 12시 30분<br />메리빌리아 2층 프리모소르홀
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img
                    src="https://t1.kakaocdn.net/thumb/R2048x0.fjpg/?fname=http%3A%2F%2Fdn-m.talk.kakao.com%2Ftalkm%2Fbl3TCcQtB4n%2FujDGuQazzf2PyLvDK6Y5qk%2Fi_re5gmwvqudox1.jpeg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    평생을 같이하고 싶은 사람을 만났습니다. <br>
                    서로 아껴주고 이해하며 <br>
                    사랑 베풀며 살고 싶습니다. <br>
                    저희 약속 위에 따뜻한 격려로 축복해 <br>
                    주셔서 힘찬 출발의 디딤이 되어 주십시오.<br><br>
                    
                    코로나19로 인하여 참석이 어려우시더라도<br>
                    계신 자리에서 축복해 주시면<br>
                    그 마음 평생 간직하고 <br>
                    행복하게 잘 살겠습니다.
                </div>
                <div class="name">
                    신구.가람<br /> 올림
                </div>
                <div class="parent">
                    최재복.김춘자 의 장남 신구<br /> 송광재.손성희의 장녀 가람<br />
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span>인천광역시 연수구 송도과학로 16번길 33-1</span><br />
                    <span class="addr">메리빌리아 2층 프리모소르홀</span><br /><br />
                    <span>032-864-5500</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li><a href="https://urban-incard.github.io/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li><a href="https://smartstore.naver.com/urbanincard" target="_blank"><img
                                src="https://urban-incard.github.io/images/nv_logo.png"></a></li>
                    <li><a href="https://www.instagram.com/urban.incard/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ig_logo.png"></a></li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type2/js/type2.js"></script>
<script>
    $(function () {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function () {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);

        $(".month").css("font-size","26px")
    });
</script>

</html>