<!DOCTYPE html>
<html>

<head>
    <title>[이진영♥이경화] 결혼식에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/x63w3nobli/web_share.jpg" />
    <meta property="og:title" content="[이진영♥이경화] 결혼식에 초대합니다." />
    <meta property="og:description" content="[이진영♥이경화] 결혼식에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type2 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type2/css/type2.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://1.bp.blogspot.com/-ukKm9taMtAo/XzIXDW6TlkI/AAAAAAABLSw/5SUefKplt7U0bStpzMLazGEgm20IQ3loACLcBGAsYHQ/s640/01.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-Jin_v2Uk55w/XzIXDRYRZbI/AAAAAAABLS4/MqG7-6DEL1YpJJyIAaLaR5OH-hLBjcszACLcBGAsYHQ/s640/02.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-8MxMFzEQ7mQ/XzIXDTyyDiI/AAAAAAABLS0/yf3nELH_dqw0DkFdIp-mw6S_xdps2N2twCLcBGAsYHQ/s640/03.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-xX_bTnizjps/XzIXFNlasxI/AAAAAAABLS8/pfHUEeVUrD4p7RyDMupUHW1ij9iFLmuTgCLcBGAsYHQ/s640/04.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-NtWBN-Y0DXQ/XzIXFReQjJI/AAAAAAABLTE/zPy1JOjqVm80aoO4RHOgqSYdxL81Gc_HACLcBGAsYHQ/s640/05.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-oHBIupn1vH0/XzIXFPX8OII/AAAAAAABLTA/J1YFe_aceRAD2e6lzp6AfOgjKrlBnW4-wCLcBGAsYHQ/s640/06.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-7saQO0ES29c/XzIXHKiYGBI/AAAAAAABLTM/Y72iWMqMz5oYBOpPKQJaUyu1r5j0VDM6gCLcBGAsYHQ/s640/07.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-H0eiFoxwwoI/XzIXG4hnHII/AAAAAAABLTI/5O4rqTuYA00AB_Kst2z3B0kT3K6jzCebQCLcBGAsYHQ/s640/08.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-XFOnen1HxvM/XzIXHKh09KI/AAAAAAABLTQ/bCLSP5boLAw35k4scPSTA1hBXOCEhSijwCLcBGAsYHQ/s640/09.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-u41sMbN7ZZ0/XzIXI7aWTMI/AAAAAAABLTY/Y1zums082osIFr3tOGH4p8GxJbpOavGFgCLcBGAsYHQ/s640/10.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-5bqRtEfzuZM/XzIXIwYTnUI/AAAAAAABLTc/ucZuuJU-yd8nPlVLlaEM6tEbh3L9blUzACLcBGAsYHQ/s640/11.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-mcmOwSU-_nA/XzIXI_7-anI/AAAAAAABLTU/v4Lla2C2prABxoZBVXmxSaWMuq8eJQqXQCLcBGAsYHQ/s640/12.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-Ln4r_P_nHwk/XzIXKcybmjI/AAAAAAABLTg/SakdQz3xMJIXttnASCHWjJT9c67hGnJFwCLcBGAsYHQ/s640/13.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-ocC8BOU43Ns/XzIXK2OlZWI/AAAAAAABLTk/6OsmkpIAApw3EpD-LybIfUJUeCsD-693wCLcBGAsYHQ/s640/14.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-k90B3D5tEK8/XzIXLXciEQI/AAAAAAABLTo/FyCEWSu4Cj0goZBG_t92y7mhrAr0BpyrgCLcBGAsYHQ/s640/15.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-R2199CtNKHo/XzIXLpBSPVI/AAAAAAABLTs/vq1mCmj8isQKCqmBpw9MJKiWofonLzCvwCLcBGAsYHQ/s640/16.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-u3za1-PCGPY/XzIXMOqX6VI/AAAAAAABLTw/vR4HRXWPpZQLhS90b6xQwXbFbizkSrx0gCLcBGAsYHQ/s640/17.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-Reg3uUiiJFI/XzIXNAez6FI/AAAAAAABLT4/cU1M4od77wo3NUjyHFVKmva7ufiIBrB5ACLcBGAsYHQ/s640/18.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-LjLCHbWFkQc/XzIXNIIQfRI/AAAAAAABLT0/IrWEPI5Nr3wF--GUfZtkjDAjBXsrL39vQCLcBGAsYHQ/s640/19.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-z_dRFmJ93lw/XzIXNXTjogI/AAAAAAABLT8/TK4IXGwUwEQ9yJw6evAh5d-gt7lcPQjYQCLcBGAsYHQ/s640/20.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-RKfkBakVEk8/XzIXOdOGjqI/AAAAAAABLUE/F1CA_DQ77WMmRaJCpAme-_bu9bR5aENLwCLcBGAsYHQ/s640/21.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-qLwsgcG1JRE/XzIXORClXxI/AAAAAAABLUA/s5W-OePh97k2DshBFKpf87FAvzXi7uPiwCLcBGAsYHQ/s640/22.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-LrNcCcp0Kc8/XzIXOvziTxI/AAAAAAABLUI/yhhtf1s42fgjx3tO8YN-4RqSCbmpa09LACLcBGAsYHQ/s640/23.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-RAqkcz0dfMo/XzIXPzaH56I/AAAAAAABLUM/BGY49lUqLM83fGUajRb-I-_1CuzGkbYSwCLcBGAsYHQ/s640/24.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-rrgporfPg_s/XzIXQLjPYAI/AAAAAAABLUU/KXHTHtt8XJMjUZp2PSxxLyIzQ9iefKqUgCLcBGAsYHQ/s640/25.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-CTVZNtNUDKI/XzIXQOuz_rI/AAAAAAABLUQ/MtSbERx0K8wDyJr9u6i0wskT5FMMz2M2ACLcBGAsYHQ/s640/26.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-BpQLbrAxJ9M/XzIXRQFuslI/AAAAAAABLUY/FbGsl4ot4jgVRKMyiB52eII0H77EoatJwCLcBGAsYHQ/s640/27.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-77aPuOGlElU/XzIXRhxUQgI/AAAAAAABLUc/gVrLrRv64XIO3REnVrf4tq_Vh5X6a0lRQCLcBGAsYHQ/s640/28.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-qsISMw0pmXA/XzIXRg6LbeI/AAAAAAABLUg/pLUGNv8jc_YEpAV_P-oVqfsDxB8qWL2ggCLcBGAsYHQ/s640/29.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-FecJ4eshnkw/XzIXSkxtXYI/AAAAAAABLUk/zVisBO-KvpkL3aBFKAw_QqpF3Ts-rTZewCLcBGAsYHQ/s640/30.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-kenm0_BC3VE/XzIXS5H-RiI/AAAAAAABLUo/0F2q9T-hzQQNyBecODNYfhvnhlDlnoDmgCLcBGAsYHQ/s640/31.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-PMM3GowpycY/XzIXTJpV82I/AAAAAAABLUs/ZybA_71n32oZ2_hEZLmAOzQETMT-WYBCgCLcBGAsYHQ/s640/32.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-lgv2JC3JRDc/XzIXTx-4gnI/AAAAAAABLUw/ko_WZuvYle4JhZJvGC1HJCqFjgxk0zU8ACLcBGAsYHQ/s640/33.jpg");
        var mname = "이진영";
        var wname = "이경화";
        var weddingDate = "2020-10-10";
        var lat = 37.5605763;
        var lng = 126.9673246;
    </script>
</head>

<body>
    <div class="wrap">
        <div class="header">
            <div class="top">
                <div class="name">
                    이진영<span>과</span>이경화
                </div>
                <div class="pos">
                    저희 결혼식에 초대합니다.<br />2020.10.10. 오후 6시<br />루이비스웨딩 18층 다산홀
                </div>

                <div class="object">
                    <img src="https://urban-incard.github.io/type2/2_top.png" style="width:65px;" />
                </div>
            </div>
            <div class="bottom">
                <img
                    src="https://1.bp.blogspot.com/-rrgporfPg_s/XzIXQLjPYAI/AAAAAAABLUU/KXHTHtt8XJMjUZp2PSxxLyIzQ9iefKqUgCLcBGAsYHQ/s640/25.jpg" />
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    평생 직장을 찾으러 간 소방학교에서<br/>
                    평생 함께할 인연까지 찾았습니다.<br/>
                    이제 두 사람, 세찬 바람에도 꺾이지 않는<br/>
                    건실한 나무를 닮은 사랑으로<br/>
                    가정을 이루고자 합니다.<br/>
                    많은 축복과 응원 부탁드립니다.<br/>
                </div>
                <div class="name">
                    진영.경화<br /> 올림
                </div>
                <div class="parent">
                    이상일.안미옥의 딸 경화<br /> 이형광.이미경의 아들 진영<br />
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span>서울 중구 청파로 63 한국경제신문사</span><br />
                    <span class="addr">18층 루이비스웨딩 다산홀</span><br /><br />
                    <span>02-312-6800</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li><a href="https://urban-incard.github.io/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li><a href="https://smartstore.naver.com/urbanincard" target="_blank"><img
                                src="https://urban-incard.github.io/images/nv_logo.png"></a></li>
                    <li><a href="https://www.instagram.com/urban.incard/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ig_logo.png"></a></li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type2/js/type2.js"></script>
<script>
    $(function () {
        gallery_url_set(gallery_url);

        $(".swiper-wrapper").eq(0).find(".swiper-slide").click(function () {
            var img_url = $(this).css("background-image").replace('url("', '').replace('")', '');
            //location.href = img_url;
        });

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);
    });
</script>

</html>