<!DOCTYPE html>
<html>

<head>
    <title>[강승우♥김선민] 피로연장에 초대합니다.</title>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:image" content="https://wemarry.pythonanywhere.com/media/zvtqkh1khz/web_share.jpg" />
    <meta property="og:title" content="[강승우♥김선민] 피로연장에 초대합니다." />
    <meta property="og:description" content="[강승우♥김선민] 피로연장에 초대합니다." />

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/swiper.min.css">
    <!--Calendar's CSS -->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/simple-calendar.css">
    <!--Common's CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/common/style.css">
    <!--type7 CSS-->
    <link rel="stylesheet" href="https://urban-incard.github.io/type7/css/type7.css">

    <script>
        var gallery_url = [];
        gallery_url.push("https://3.bp.blogspot.com/-hlZDwid9d_w/XYIwu3EoEJI/AAAAAAAA-cE/5FRVlLwBGMclB_-IbzaknzZT4X_yYekuACLcBGAsYHQ/s1600/05.jpg");
        gallery_url.push("https://4.bp.blogspot.com/-hTGZK-z68ZE/XYIwuYphLxI/AAAAAAAA-b8/dBWdZfBGnzw4axgpqSB2c8RzsauzWw9SgCLcBGAsYHQ/s1600/03.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-6-NwvHdFSOQ/XYIwurFhnsI/AAAAAAAA-cA/ls0_PeijnJYyDXOPr6fhfP8vrV8I_Z3cQCLcBGAsYHQ/s1600/07.jpg");
        gallery_url.push("https://3.bp.blogspot.com/-HuFioKhsxgM/XYIwvf5A0UI/AAAAAAAA-cI/TeA2Xte9A9w8fTdXpCIye844cyvjvWWaACLcBGAsYHQ/s1600/09.jpg");
        gallery_url.push("https://1.bp.blogspot.com/-wRMcHj8Mplg/XYIwv9xiGOI/AAAAAAAA-cM/VVB2ZWUxqEwGAmfYL37fxJuFxTMb_FvKgCLcBGAsYHQ/s1600/%25EC%2588%2598%25EC%25A0%2595%25EB%25B3%25B81.jpg");
        gallery_url.push("https://3.bp.blogspot.com/-ipKIqxjzR08/XYIwwOjJ3II/AAAAAAAA-cQ/eMEz1vT84twRhwKm3i9wMd1Wq8SLX7PvACLcBGAsYHQ/s1600/%25EC%2588%2598%25EC%25A0%2595%25EB%25B3%25B83.jpg");
        var mname = "강승우";
        var wname = "김선민";
        var weddingDate = "2019-11-02";
        var lat = 35.1417927;
        var lng = 126.837581;
    </script>

    <style>
        .month_en {
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <div class="header" back="background-size: 150%;">
            <div class="top">
                <div class="name">강승우<span>그리고</span>김선민</div>
                <div class="pos">
                    2019.11.02 우리 피로연장에 초대 합니다.<br /> 라비앙웨딩홀<br /> 17:00
                </div>
            </div>
        </div>
        <div class="contents">
            <div class="information">
                <div class="title">
                    <h2>INVITATION</h2>
                </div>
                <div class="info">
                    서로의 마음과 서로의<br /> 믿음을 간직하며<br /> 저희 두 사람이 새 출발의<br />
                    <br /> 첫 걸음을 내딛게 되었습니다.<br />
                    <br /> 좋은 꿈, 바른 뜻으로<br /> 올바르게 살 수 있도록<br /> 축복과 격려를 해주시면<br /> 더 없는 기쁨으로<br /> 잘 간직하겠습니다.
                </div>
                <div class="name">
                    승우,선민<br /> 올림
                </div>
                <div class="parent">
                    강원일, 이홍숙 의 승우<br /> 김충한, 양영순 의 선민<br />
                </div>
            </div>
            <div class="title">
                <h2>GALLERY</h2>
            </div>
            <div class="gallery">
                <!-- Swiper -->
                <div class="swiper-container gallery-top">
                    <div class="swiper-wrapper"></div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
                <div class="swiper-container gallery-thumbs">
                    <div class="swiper-wrapper"></div>
                </div>
                <!-- Swiper -->
            </div>
            <div class="calendar">
                <div class="title">
                    <h2>CALENDAR</h>
                </div>
                <div id="event-cal-container" class="calendar-container"></div>
            </div>
            <div class="location">
                <div class="title">
                    <h2>LOCATION</h>
                </div>
                <div id="map"></div>
                <div class="map_info">
                    <span>광주광역시 서구 상무대로 667</span><br />
                    <span class="addr">라비앙웨딩홀</span><br /><br />
                    <span>062-371-0088</span>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="sns">
                <ul>
                    <li>
                        <a href="https://urban-incard.github.io/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ui_logo.jpg"></a>
                    </li>
                    <li>
                        <a href="https://smartstore.naver.com/urbanincard" target="_blank"><img
                                src="https://urban-incard.github.io/images/nv_logo.png"></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/urban.incard/" target="_blank"><img
                                src="https://urban-incard.github.io/images/ig_logo.png"></a>
                    </li>
                </ul>
            </div>
            <div class="txt">
                모바일 초대장/청첩장은 어반인카드
                <br /> ⓒ URBAN-INCARD Corp. All Rights Reserved
            </div>
        </div>
    </div>
</body>

<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//www.googletagmanager.com/gtag/js?id=UA-124498612-2"></script>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=c8dcf002e3cb41a603da7f0d485b5f0b"></script>
<script src="https://urban-incard.github.io/common/swiper.min.js"></script>
<script src="https://urban-incard.github.io/common/script.js"></script>
<script src="https://urban-incard.github.io/type7/js/type7.js"></script>
<script>
    $(function () {
        gallery_url_set(gallery_url);

        calendar_set(mname, wname, weddingDate);

        map_set(lat, lng);
    });
</script>

</html>